@model IEnumerable<GestionInventario.Models.Compras>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lote.idLote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lote.idLote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCompra }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCompra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCompra })
        </td>
    </tr>
}

</table>
