@model IEnumerable<GestionInventario.Models.Inventario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.existencia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.existencia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idInventario }) |
                @Html.ActionLink("Details", "Details", new { id = item.idInventario }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idInventario })
            </td>
        </tr>
    }
</table>
<div class="nav navbar-collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Detalle", "Index", "Detalles")</li>
    </ul>
</div>
