<!--@{
    ViewBag.Title = "Prueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prueba</h2>

<h2>prueba</h2>

<div>
    <div>
        <label>Nombre: </label>
        <input type="text" id="txtNombre" />
    </div>
    <input type="button" value="Crear" id="btnCrearPersona" />
</div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

<div id="lote">

</div>

<script>
        $(function () {
            $('#btnCrearPersona').click(function () {
                $.ajax({
                    url: '/Lotes/Prueba',
                    type: 'post',
                    dataType: 'json',
                    contents: "application/json; charset=utf-8",
                    data: { numLote:"4",cantidadLote:"45",fechaVencimiento:"2018/12/25",idMedicamento:"2" },
                    success: function (lote) {
                        $("#lote").html(lote.numLote + " " + lote.cantidadLote + " " + lote.fechaVencimiento + " " + lote.idMedicamento);
                    }
            });
        });

        });
    </script>-->
@model GestionInventario.Models.Lote
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm(new { id="_AjaxAntiForgenryForm"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewBag.id</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.numLote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numLote, new { id = "numLote", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numLote, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidadLote, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidadLote, new { id = "cantidadLote", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantidadLote, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaVencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaVencimiento, new { id = "fechaVencimiento", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaVencimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idMedicamento, "idMedicamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.idMedicamento, ViewBag.idMedicamento as SelectList, new { id = "idMed", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idMedicamento, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="button" value="Create" id="btnCreate" />

        <!--<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="create" />
            </div>
        </div>-->
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $('#btnCreate').click(function () {
            $.ajax({
                url: '/Lotes/Prueba',
                type: 'post',
                dataType: 'json',
                contents: "application/json; charset=utf-8",
                data: {
                    _RequestVerificationToken: {
                        token: { token:$('input[name="_RequestVerificationToken"]'), form: $('#__AjaxAntiForgenryForm') }
                    },
                    lote: { numLote: $("#numLote").val(), cantidadLote: $("#cantidadLote").val(), fechaVencimiento: $("#fechaVencimiento").val(), idMedicamento: $("#idMed").val() }
                },
                success: function (idLote) {
                    alert(idLote);
                }
            });
        });
    });
</script>